<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <h1>Practice database!</h1>
        <form id="reg-form">
           <h2>Sign up</h2>
           <label for="email">Email:</label>
           <input type="text" name="email" required/>
           <div class="email error"></div>
            <br>
           <label for="name">Name:</label>
           <input type="text" name="name" required/>
           <div class="name error"></div>
            <br>
           <label for="password">Password:</label>
           <input type="password" name="password" required/>
           <div class="password error"></div>
            <br>
           <input type="radio" name="gender" value="Male">
           <label for="male">Male</label>
           <input type="radio" name="gender" value="Female">
           <label for="female">Female</label>
           <br><br>
           <label for="department">Choose college department:</label><br>
           <select name="department" required>
               <option value="COE">College of Education</option>
               <option value="COENG">College of Engineering</option>
               <option value="CIT">College of Industrial Technology</option>
               <option value="COS">College of Science</option>
           </select>
           <br><br>
           <button>Sign Up</button>
        </form>

        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                //reset errors
                emailError.textContent="";
                passwordError.textContent="";

                //getthe values from the form
                const email = form.email.value;
                const name = form.name.value;
                const password = form.password.value;
                const gender = form.gender.value;
                const department = form.department.value;

               try{
                   const res = await fetch('/signup', {
                       method:'POST',
                       body: JSON.stringify({
                           email,
                           name,
                           password,
                           gender,
                           department
                       }),
                       headers: {'Content-Type':'application/json'}
                   });
                   const data = await res.json();
                   console.log(data);
                   if (data.errors) {
                       emailError.textContent = data.errors.email;
                       passwordError.textContent = data.errors.password;
                   }
                   //redirect to main account
                   if (data.user) {
                       location.assign('/account')
                   }
               }
               catch (err) {
                   console.log(err);
               }
            });
        </script>
    
      <a href = "/login">
        <button>
            Login
        </button>
    </a><br>
    <a href = "/">
        <button>
            Homepage
        </button>
    </a>
</body>
</html>